.atoms__card {
  margin: 8px;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  padding: 16px;
  background-color: var(--atoms--card--color);

  & > h2:first-child,
  & > h3:first-child,
  & > h4:first-child,
  & > h5:first-child {
    padding-top: 0;
    margin-top: 0;
  }
}

.printer-friendly-version:target .atoms__card {
  margin: unset;
  border: unset;
  border-radius: unset;
  padding: unset;
  background-color: unset;
  animation: unset;
  border-top: 1px solid var(--color-secondary);
}
