.atoms__card {
  margin: 8px;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  padding: 16px;
  background-color: var(--atoms--card--color);
}

.printer-friendly-version:target .atoms__card {
  margin: unset;
  border: unset;
  border-radius: unset;
  padding: unset;
  background-color: unset;
  animation: unset;
  border-top: 1px solid var(--color-secondary);
}
