@import '../colors';

.scope--atoms--contact-link {
  position: absolute;
  top: 4px;
  right: 4px;

  svg {
    width: 32px;
    height: auto;
  }
  @media (min-width: 400px) {
    top: 16px;
    right: 16px;

    svg {
      width: 64px;
      height: auto;
    }
  }
    
  svg {
    path {
      fill: $color-secondary;
    }
  }
}
