.atoms__contact-link {
  position: absolute;
  top: 4px;
  right: 4px;

  --icon-height: 32px;
  --icon-color-primary: var(--color-secondary);

  @media (min-width: 400px) {
    top: 16px;
    right: 16px;

    --icon-height: 64px;
  }
}
