<div class='atoms__copyright-footer'>
  <span>{{{notice}}}</span>
  <span class='atoms__copyright-footer__github'>
    <span class='atoms__copyright-footer__open-source-at'>{{{open-source-at}}}&nbsp;</span>
    <span class='atoms__copyright-footer__link-to-code'>{{{link-to-code}}}</span>
  </span>
</div>
