<div class='atoms__copyright-footer'>
  <span>{{{notice}}}</span>
  <div class='atoms__copyright-footer__authorship'>
    {{> atoms/svg-icon name='no-ai' class='' }}
    <span>{{{authorship}}}</span>
  </div>
  <span class='atoms__copyright-footer__github'>
    <span class='atoms__copyright-footer__open-source-at'>{{{open-source-at}}}&nbsp;</span>
    <span class='atoms__copyright-footer__link-to-code'>{{{link-to-code}}}</span>
  </span>
</div>
