.atoms__cv-header {
  display: grid;
  grid-template-areas:
    'header date'
    'role .';

  h1, h2, h3, h4, h5, h6 {
    grid-area: header;
    display: inline;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .date {
    grid-area: date;
    color: var(--color-secondary);
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .role {
    grid-area: role;
  }
}
