.atoms__grid {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  @media (min-width: 1000px) {
    grid-gap: 16px;
    grid-template-columns: repeat(var(--atoms--grid-columns), 1fr);
  }
}

#printer-friendly-version:target .atoms__grid {
  display: block;
  & > * {
    margin-bottom: 8px;
    page-break-inside: avoid;
  }
}
