.atoms__hr {
  margin: 64px auto 32px auto;
  height: 0;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-top: var(--color-tertiary);
}

.printer-friendly-version:target .atoms__hr {
  margin: 0 auto 32px auto;
  visibility: hidden;
}
