@import '../colors';

.scope--atoms--html-body {
  color: $color-primary;
  font-family: 'Cormorant Garamond', serif;
  $padding: 16px;

  & > div[id] {
    padding: $padding;
  }

  max-width: 1200px;
  @media (min-width: 1200px + (2 * $padding)) {
    margin-left: auto;
    margin-right: auto;
  }

}
