<a
  class='atoms__printer-friendly-version-link'
  href='#resume'
  alt='{{alt}}'
  title='{{title}}'
  >
  {{> atoms/svg-icon name=icon }}
  <div class='atoms__printer-friendly-version-link__label'>{{{display-label}}}</div>
</a>
