.atoms__qr-code {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  img {
    width: 200px;
    opacity: 0.7;
  }

  & > * {
    margin: auto;
  }

  span {
    font-size: 15px;
    font-weight: bold;
  }
}
