.molecules__child-page-title {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 2em;
  background-color: color-mix(in srgb, var(--color-accent), var(--color-background) 20%);
  margin: -16px -12px 0 -12px;

  .molecules__child-page-title__section {
    color: var(--color-secondary);
  }

  .molecules__child-page-title__page {
    font-weight: bold;
  }
}
