<div class='molecules__child-page-title'>
  <h2>
    <span class='molecules__child-page-title__section'>{{section}}:</span>
    <span class='molecules__child-page-title__page'>{{page}}</span>
  </h2>
</div>
