<a
  class='reset molecules__detailed-icon-link'
  href='{{url}}'
  alt='{{alt}}'
  {{#if internal-link}}{{else}}target='_blank'{{/if}}
  >
  {{> atoms/svg-icon name=icon }}
  <span class='molecules__detailed-icon-link__text'>{{title}}</span>
</a>
