<a
  class='reset molecules__detailed-icon-link'
  href='{{url}}'
  alt='{{alt}}'
  target='_blank'
  >
  {{> atoms/svg-icon name=icon }}
  <span class='molecules__detailed-icon-link__text'>{{title}}</span>
</a>
