<div class='molecules__employment-summary'>
  <span class='molecules__employment-summary__years'>{{{years}}}</span>
  <span class='molecules__employment-summary__role'>{{{role}}}</span>
  <span class='molecules__employment-summary__company'>{{{company}}}</span>
  <span class='molecules__employment-summary__comments'>{{{comments}}}</span>
</div>
