<article>
  <h3>{{data.role}} <span class='organisms__experience-section__date-range'>{{data.from}} &mdash; {{data.to}}</span></h3>
  <h4>{{data.employer}}</h4>
  <div class='atoms__row'>
    {{> molecules/experience-detail title='Engineering' bullets=data.engineering }}
    {{> molecules/experience-detail title='Technology' bullets=data.technology }}
    {{> molecules/experience-detail title='Teamwork' bullets=data.teamwork }}
  </div>
</article>
