<h1 class='molecules__name-and-title'>
  <span class='molecules__name-and-title__name'>{{name}}</span>
  <span class='molecules__name-and-title__divider'>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
  <span class='molecules__name-and-title__title'>{{title}}</span>
</h1>
