.molecules__tech-stack, .molecules__tech-stack-fieldset {
  margin: 2px;
  margin-bottom: auto;
  display: flex;
  padding: 4px;
  width: calc(100% - 16px);
  border-color: var(--color-secondary);
  border-style: none;
  border-width: 1px;
  border-radius: 4px;

  .molecules__tech-stack--string,
  .molecules__tech-stack--connection {
    padding: 8px;
    border-style: none;
    display: inline-block;
    text-align: center;
  }

  .molecules__tech-stack--string {
    background-color: var(--color-background);
    color: var(--color-primary);
  }

  &.molecules__tech-stack--row {
    border-style: solid;
    flex-direction: row;
  }

  &.molecules__tech-stack--column {
    border-style: none;
    flex-direction: column;
    justify-content: flex-start;
  }

  &.molecules__tech-stack--direction-row {
    flex-direction: row;
  }
  &.molecules__tech-stack--direction-column {
    flex-direction: column;
  }
}
.molecules__tech-stack-fieldset {
  border-style: solid;
  margin-bottom: 0;
}
