@mixin slimmer-version-of-the-diagram {
  &.molecules__tech-stack__string,
  &.molecules__tech-stack__connection,
  &.molecules__tech-stack__placeholder {
    padding: 0;
  }
  &.molecules__tech-stack__box {
    padding: 1px;
  }

  &.molecules__tech-stack__connection {
    margin-top: -4px;
    margin-bottom: -4px;
  }

  &.molecules__tech-stack__column,
  &.molecules__tech-stack__row {
    padding: 0 2px 2px 2px;
  }

  &.molecules__tech-stack__hr {
    width: calc(100% - 8px - 8px);
    margin-top: -2px;
    margin-bottom: -2px;
  }
}

.molecules__tech-stack {
  border-radius: 4px;

  &.molecules__tech-stack__box {
    border: 1px dashed var(--color-secondary);
  }

  &.molecules__tech-stack__hr {
    width: 100%;
    height: 0;
    border: none;
    border-top: 1px dashed var(--color-secondary);
  }

  &.molecules__tech-stack__string,
  &.molecules__tech-stack__box,
  &.molecules__tech-stack__connection,
  &.molecules__tech-stack__placeholder {
    width: auto;
    padding: 8px;
    display: inline-block;
    text-align: center;
  }

  &.molecules__tech-stack__string {
    background-color: var(--color-background);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &.molecules__tech-stack__row {
    display: grid;
    grid-gap: 4px;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }

  &.molecules__tech-stack__column {
    margin-bottom: auto;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-auto-flow: row;
  }

  @media (max-width: 800px) {
    @include slimmer-version-of-the-diagram;
  }
  @media (min-width: 1000px) and (max-width: 1300px) {
    @include slimmer-version-of-the-diagram;
  }
}

.printer-friendly-version:target .molecules__tech-stack {
  @include slimmer-version-of-the-diagram;
}

