<html>
  {{> atoms/html-head}}
  {{#> atoms/html-body class='scope--pages--main'}}
    <div class='profile'>
      {{> atoms/profile-picture class='profile-picture'}} 
      <h1 class='title'>Alexander Bird</h1>
    </div>
    {{#> molecules/row items=sections class='distinguishing-characteristics'}}
      {{#*inline 'item'}}
        {{> organisms/titled-list }}
      {{/inline}}
    {{/ molecules/row}}
  {{/atoms/html-body}}
</html>
