@import '../colors';

.scope--pages--main {
  display: flex;
  flex-direction: column;

  .profile {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 16px;

    & > * {
      display: block;
      margin: auto;
    }

    .profile-picture {
      margin-bottom: 8px;
    }

    h1 {
      .divider {
        color: $color-secondary;
      }
    }

    .objective {
      padding-top: 8px;
      color: $color-secondary;
      &:before {
        content: 'Objective: '
      }
    }
  }
}
