<html>
  {{> atoms/html-head}}
  {{#> atoms/html-body class='scope--pages-main'}}
    <div class='profile'>
      <h1>
        Alexander Bird
      </h1>
    </div>
    {{#> molecules/row items=sections class='distinguishing-characteristics'}}
      {{#*inline 'item'}}
        {{> organisms/titled-list }}
      {{/inline}}
    {{/ molecules/row}}
  {{/atoms/html-body}}
</html>
