<html>
  {{> atoms/html-head}}
  {{#> atoms/html-body class='scope--pages--main'}}
    <div class='profile'>
      {{> atoms/profile-picture class='profile-picture'}} 
      <h1>
        <span class='name'>{{profile.name}}</span>
        <span class='divider'>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
        <span class='title'>{{profile.title}}</span>
      </h1>
      <h2 class='objective'>{{profile.objective}}</h2>
    </div>
    {{#> molecules/row items=sections class='' }}
      {{#*inline 'item'}}
        {{> organisms/titled-list }}
      {{/inline}}
    {{/ molecules/row}}
  {{/atoms/html-body}}
</html>
