.pages__blog-book-list-post {
  margin-top: var(--blog-header-height);
  max-width: 800px;
  .page__blog-book-list-post__body {
    display: flex;
    flex-direction: column;
  }
  .pages__blog-book-list-post__footer {
    padding: 8px;
  }
}
