<!DOCTYPE html>
<html lang='en'>
  {{> invisible/html-head}}
  {{#> atoms/html-body}}
    {{> invisible/signature }}
    <h1>{{{title}}}</h1>
    <h2>{{{subtitle}}}</h2>
    {{{ markdown content }}}
  {{/atoms/html-body}}
</html>
