@import '../animations';
@import '../colors';

#contact {
  animation:
    var(--when-animating-in, fade-in 1s),
    var(--when-animating-out, fade-out 1s);

  .scope--pages--contact__content {
    position: relative;
    border: 2px solid $color-secondary;
    border-radius: 4px;
    margin: 64px;
    h1 {
      text-align: center;
    }

    .exit {
      position: absolute;
      right: 0;
      top: 0;
      padding: 16px;
      text-decoration: none;
      color: $color-secondary;
    }
  }
}
