{{#> atoms/page slug='contact' class='pages__contact'}}
  <div class='pages__contact__content'>
    <h1>Contact</h1>
    <a class='exit' href='#home'>✘</a>
    <ul class='contact-methods'>
      {{#each contact-methods as |contact|}}
        <li><a target='_blank' rel='{{contact.rel}}' href='{{contact.link}}'>{{> atoms/svg-icon name=contact.icon}}{{contact.text}}</a>
      {{/each}}
    </ul>
  </div>
{{/atoms/page}}
