@import '../animations';
@import '../colors';
@import '../svg';

#contact {
  animation:
    var(--when-animating-in, fade-in 1s),
    var(--when-animating-out, fade-out 1s);

  .scope--pages--contact__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $color-secondary;
    border-radius: 4px;
    padding: 16px;
    margin: 2px;
    @media (min-width: 400px) {
      margin: 8px;
    }
    @media (min-width: 800px) {
      margin: 64px;
    }

    h1 {
      margin-top: 0;
      text-align: center;
    }

    .exit {
      position: absolute;
      right: 0;
      top: 0;
      padding: 16px;
      text-decoration: none;
      color: $color-secondary;
    }

    ul.contact-methods {
      display: inline-flex;
      flex-direction: column;
      align-items: baseline;
      padding: 0;
      li {
        width: 100%;
        list-style: none;

        a {
          display: inline-flex;
          align-items: center;
        }

        @include color-svg($color-secondary);
        svg {
          width: 2em;
          height: 2em;
          margin-right: 1em;
        }
      }
    }
  }
}
