@import '../animations';
@import '../transitions';
@import '../colors';

@include transition-out('contact') {
  @include hide();
}

.scope--pages--contact {
  @include slide-in-bck-center();
  .scope--pages--contact__content {
    position: relative;
    border: 2px solid $color-secondary;
    border-radius: 4px;
    margin: 64px;
    h1 {
      text-align: center;
    }

    .exit {
      position: absolute;
      right: 0;
      top: 0;
      padding: 16px;
      text-decoration: none;
      color: $color-secondary;
    }
  }
}
