.pages__cover-letter {
  width: 8.5in;
  @media print {
    width: auto;
  }

  .pages__cover-letter__printer-friendly-version {
    margin: 0;
    padding: 0;
  }

  .pages__cover-letter__letter-page {
    min-height: 11in;
    page-break-after: always;
    @media print {
      min-height: auto;
    }
  }

  .pages__cover-letter__signature {
    height: 3em;
  }
}
