<!DOCTYPE html>
<html lang='en'>
  {{> invisible/html-head title=title }}
  {{#> atoms/html-body class='pages__cover-letter'}}
    {{> invisible/icon-symbols }}
    <div id='print' class='printer-friendly-version pages__cover-letter__printer-friendly-version'>
      <div class='pages__cover-letter__letter-page'>
        {{> organisms/print-header profile }}
        {{{ markdown content }}}
        <img class='pages__cover-letter__signature' src='data:image/png;base64, {{signature}}'></img>
      </div>
      {{> organisms/experience
        experience-summary=resume.experience-summary
        items=resume.experience
        education=resume.education
        }}
    </div>
  {{/atoms/html-body}}
</html>
