{{#> atoms/page slug='home' default='true' class='pages__home'}}
  {{> atoms/home-link navigation.home }}
  {{> organisms/header profile}}
  <div class='pages__home__casual-disclaimer'>
    {{{introduction.casualDisclaimer}}}
  </div>
  <hr class='atoms__hr'>
  {{> organisms/past-present-future }}
  <hr class='atoms__hr'>
  {{> atoms/copyright-footer copyright }}
{{/atoms/page}}
