{{#> atoms/page slug='home' default='true' class='pages__home'}}
  {{> atoms/contact-link }}
  <div class='profile'>
    {{> atoms/profile-picture class='profile-picture'}} 
    <h1>
      <span class='name'>{{profile.name}}</span>
      <span class='divider'>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
      <span class='title'>{{profile.title}}</span>
    </h1>
    <h2 class='atoms__tagline'>{{{profile.tagline}}}</h2>
  </div>
  <div class='atoms__grid home__content' style='--atoms--grid-columns: 3'>
    {{#each skill-sections }}
      {{> organisms/skill-section data=this}}
    {{/each}}
  </div>
  <hr class='atoms__hr'>
  <h2 class='pages__home__section-header'>Experience</h2>
  <div class='atoms__grid' style='
      --atoms--grid-columns: 2;
      --animation-duration: 0.4s;
      --animation-delay: 2.2s;
    '>
    {{#each experience }}
      {{> organisms/experience this }}
    {{/each}}
    {{> organisms/hobby-experience hobby-experience }}
    {{> organisms/education education }}
  </div>
{{/atoms/page}}
