{{#> atoms/page slug='home' default='true' class='scope--pages--home'}}
  {{> atoms/contact-link }}
  <div class='profile'>
    {{> atoms/profile-picture class='profile-picture'}} 
    <h1>
      <span class='name'>{{profile.name}}</span>
      <span class='divider'>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
      <span class='title'>{{profile.title}}</span>
    </h1>
    <h2 class='tagline'>{{profile.tagline}}</h2>
  </div>
  {{#> molecules/row items=skill-sections class='content' }}
    {{#*inline 'item'}}
      {{> organisms/skill-section }}
    {{/inline}}
  {{/ molecules/row}}
  <div/>
{{/atoms/page}}
