@import '../animations';

.pages__home {
  animation:
    var(--when-animating-in, fade-in 1s),
    var(--when-animating-out, fade-out 1s);

  /*display: flex;*/
  flex-direction: column;
  justify-content: flex-start;
  /*height: 100%;*/
  padding-bottom: 64px;
  position: relative;

  .atoms__printer-friendly-version-link,
  .atoms__contact-link {
    @include lesser-fade-in(2s, 1s);
  }

  .profile {
  }

  .pages__home__introduction {
    margin-top: 32px;
    --atoms--grid-columns: 3;
    flex-basis: 0;
    flex-grow: 1;

    & > *:nth-of-type(1) {
      animation: pop-out 0.3s ease-out 0.9s both;
    }

    & > *:nth-of-type(2) {
      animation: pop-out 0.3s ease-out 1.2s both;
    }

    & > *:nth-of-type(3) {
      animation: pop-out 0.3s ease-out 0.6s both;
    }
  }

  .pages__home__experiences {
    --atoms--grid-columns: 2;
    --animation-duration: 0.3s;
    --animation-delay: 1.5s;
  }

  .pages__home__section-header {
    font-size: 1.8em;
  }

  .pages__home__section-header,
  .pages__home__section-summary-item {
    animation: invisible 1.5s,
      fade-in 0.4s ease-out 1.5s;
    text-align: center;
  }

}
