<!DOCTYPE html>
<html lang='en'>
  {{> invisible/html-head}}
  {{#> atoms/html-body}}
    {{> invisible/signature }}
    {{> invisible/css-helper-script }}
    {{> invisible/icon-symbols }}
    <div id='resume' class='printer-friendly-version'>
      {{> pages/contact }}
      {{> pages/home }}
    </div>
    <script src='/signature.js'></script>
  {{/atoms/html-body}}
</html>
