{{#> organisms/index-meta }}
  <div class='printer-friendly-version'>
    {{#> atoms/page slug='past-work-history' default='true' class='pages__past-work-history'}}
      {{> organisms/child-page-header profile pageTitle=pageTitle }}
      {{> organisms/experience
        experience-front-matter
        disclaimer=disclaimer
        experience-summary=experience-summary
        items=experience
        education=education
        hobby-experience=hobby-experience
        }}
      <hr class='atoms__hr'>
      {{> atoms/copyright-footer copyright }}
    {{/atoms/page}}
  </div>
{{/ organisms/index-meta }}
