{{#> organisms/index-meta }}
  <div class='printer-friendly-version'>
    {{#> atoms/page slug='present-approach' default='true' class='pages__present-approach'}}
      {{> organisms/child-page-header profile pageTitle=pageTitle }}
      {{> organisms/introduction introduction}}
      {{> atoms/copyright-footer copyright }}
    {{/atoms/page}}
  </div>
{{/ organisms/index-meta }}
