{{#> organisms/index-meta }}
  <div class='printer-friendly-version'>
    {{#> atoms/page slug='present-approach' default='true' class='pages__present-approach'}}
      {{> organisms/child-page-header profile pageTitle=pageTitle }}
      {{{ markdown content }}}
      <hr class='atoms__hr'>
      <h3>2023: My Technical Approach</h3>
      <p><a href="/blog/2023/technical-approach.html">This mind map</a> shows the skills and techniques that I used most often as
      of 2023.</p>
      <hr class='atoms__hr'>
      <h3>2023: Senior Software Engineer</h3>
      <p>Here's how I approached work as a senior software engineer.</p>
      {{> organisms/introduction introduction}}
      {{> atoms/copyright-footer copyright }}
    {{/atoms/page}}
  </div>
{{/ organisms/index-meta }}
