{{#> organisms/index-meta }}
  <div class='printer-friendly-version'>
    {{#> atoms/page slug='present-how-i-work' default='true' class='pages__present-how-i-work'}}
      {{> organisms/header profile}}
      {{> organisms/introduction introduction}}
      {{> atoms/copyright-footer copyright }}
    {{/atoms/page}}
  </div>
{{/ organisms/index-meta }}
