@import '../colors';

.scope--organisms--titled-list {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  padding: 1em;
  border-radius: 4px;
  border: 1px solid grey;
  width: auto;
  @media (min-width: 880px) {
    min-height: 364px;
  }

  h2 {
    margin: 0;
  }

  ul {
    li {
      .preface {
        color: $color-secondary;
      }

      .preface:not(:empty) {
        &:after {
          content: ': ';
        }
      }
    }
  }

  .scope--organisms--titled-list__links {
    margin-top: auto;
    justify-self: flex-end;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;

    & > *:not(:last-of-type) {
      margin-right: 8px;
    }
  }
}
