<div class='scope--organisms--titled-list'>
  <h2>{{data.title}}</h2>
  <ul>
  {{#each data.items}}
    <li>
      <span class='preface'>{{this.preface}}</span>
      <span>{{coalesce this.text this}}</span>
    </li>
  {{/each}}
  </ul>
</div>
