.page:target,
.page.page--default {
  --when-animating-in: unset;
  --when-animating-out: none;
}

.page:target ~ .page.page--default,
.page:not(.page--default):not(:target) {
  display: none;   
  --when-animating-in: none;
  --when-animating-out: unset;
}

:root {
  --hidden-when-initializing: hidden;
  /* see remainder of initialization configuration in the css-helper-script.hbs file */
}

@keyframes fade-out {
  from {
    visibility: var(--hidden-when-initializing, visible);
    opacity: 1;
  }

  to {
    visibility: var(--hidden-when-initializing, visible);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
