.printer-friendly-version:target {
  --color-accent: #FFF;
  --color-accent-darker: var(--color-primary);
  width: 7.5in;
  margin-left: auto;
  margin-right: auto;
}

body.javascript-state__fully-initialized {
  .printer-friendly-version:target {
  }
}
