#printer-friendly-version:target {
  --color-accent: #FFF;
  --color-accent-darker: var(--color-primary);
  width: 7.5in;
  margin-left: auto;
  margin-right: auto;

  * {
    animation: none !important;
    transition: all 0.5s ease;
  }
}
