<header class='organisms__blog-header'>
  <div class='organisms__blog-header__title-area'>
    <h1 class='organisms__blog-header__title'>{{{title}}}</h1>
    <div class='organisms__blog-header__subtitle'>{{{subtitle}}}</div>
  </div>
  <a class='organisms__blog-header__home-link' href='/blog' title='Home Page'>
    {{> atoms/svg-icon name='home' class='' }}
  </a>
</header>
