.organisms__blog-post-summary {
  position: relative;
  display: grid;
  grid-template-areas:
    'title    date'
    'subtitle subtitle';

  text-decoration: none;
  color: inherit;

  transition: all 100ms ease 0s;
  top: 0;
  left: 0;
  &:hover {
    top: -6px;
    left: -6px;

    &:after {
      content: '';
      display: block;
      position: absolute;
    }
  }

  &:active {
    top: 3px;
    left: 3px;
  }

  .organisms__blog-post-summary__date {
    grid-area: date;
    color: var(--color-secondary);
    text-align: right;
  }

  .organisms__blog-post-summary__title {
    grid-area: title;
    margin: 0;
  }

  .organisms__blog-post-summary__subtitle {
    grid-area: subtitle;
  }
}
