.organisms__blog-header {
  position: fixed;
  z-index: 1;
  height: var(--blog-header-height);
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background: linear-gradient(
    var(--color-background),
    var(--color-accent)
  );

  border-bottom: 2px solid var(--color-background);

  .organisms__blog-header__title-area {
    margin-left: 0;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .organisms__blog-header__title {
      font-size: 1.2em;
      margin: 0;
    }

    .organisms__blog-header__subtitle {
      font-style: italic;
      display: none;

      @media (min-width: 340px) {
        display: initial;
      }
    }
  }

  .organisms__blog-header__home-link,
  .organisms__blog-header__about-link {
    min-height: initial;
    margin-top: auto;
    margin-bottom: auto;
    .atoms__svg-icon {
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      min-height: initial;
      --icon-color-primary: var(--color-secondary);
      --icon-width: 32px;
    }
    height: var(--blog-header-height);
    width: var(--blog-header-height);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
    text-decoration: none;
  }
  .organisms__blog-header__about-link {
    justify-self: flex-end;
    margin-left: auto;
  }

}
