<a class='reset organisms__blog-post-summary atoms__card' href='{{coalesce url (concat (kebab-case title) '.html')}}'>
  <div class='organisms__blog-post-summary__date'>{{date}}</div>
  <h3 class='organisms__blog-post-summary__title'>{{title}}</h3>
  <div class='organisms__blog-post-summary__subtitle'>{{subtitle}}</div>
</a>
