<div class='organisms__child-page-header'>
  <a href="/" title="Home" class="organisms__child-page-header__home-link">
    {{> atoms/profile-picture class='profile-picture'}} 
    {{> molecules/name-and-title title=title name=name }}
  </a>
</div>
