.organisms__education {
  --atoms--card--color: var(--color-accent);

  .organisms__education__institution-logo {
    max-width: 150px;
    max-height: 200px;
    display: block;
    margin: 64px auto 64px auto;
  }

  .organisms__education__degree-label,
  .organisms__education__institution-label,
  .organisms__education__faculty-label {
    width: 100%;
    display: block;
    text-align: center;
  }
}
