.organisms__experience {
  --atoms--grid-columns: 2;

  .organisms__experience__section-header {
    font-size: 1.8em;
  }

  .organisms__experience__section-header,
  .organisms__experience__section-summary-item {
    animation: invisible 1.5s,
      fade-in 0.4s ease-out 1.5s;
    text-align: center;
  }

}
