.organisms__experience-section {
  .organisms__experience-section__date-range {
    color: var(--color-secondary);
    &:before {
      content: '(';
    }
    &:after {
      content: ')';
    }
  }
}
