.organisms__experience-tile {
  --atoms--card--color: var(--color-accent);
  --icon-width: 1.2em;
  --icon-height: 1.2em;
  --icon-color-primary: var(--color-secondary);
  --icon-color-secondary: var(--color-secondary);
  --icon-color-tertiary: transparent;

  .organisms__experience-tile__client-size {
    color: var(--color-secondary);
    white-space: nowrap;
  }

  .organisms__experience-tile__pipe-divider {
    padding-left: 4px;
    padding-right: 4px;
    color: var(--color-secondary);
    &:before {
      content: '|';
    }
  }
}
@mixin slimmer-version-of-the-tile {
  grid-template-areas:
    'summary tech-stack'
    'text    tech-stack';

  .organisms__experience-tile__summary-header {
    margin-bottom: 4px;
  }
  .organisms__experience-tile__statistics {
    margin-top: 4px;
  }

  .organisms__experience-tile__role--with-client,
  .organisms__experience-tile__employer--with-client {
    display: none;
  }

  .organisms__experience-tile__summary {
    text-align: left;
  }
  .organisms__experience-tile__tech-stack {
    margin-top: 16px;
  }

  .organisms__experience-tile__comments {
    margin-bottom: 0;
  }
}
.organisms__experience-tile {
  display: grid;
  --grid-columns-small-diagram: 1fr auto;
  --grid-columns-large-diagram: 1fr 1fr;

  @media (max-width: 799px) {
    grid-template-columns: var(--grid-columns-small-diagram);
    @include slimmer-version-of-the-tile;
  }
  @media (min-width: 800px) and (max-width: 999px) {
    grid-template-columns: var(--grid-columns-large-diagram);
  }
  @media (min-width: 1000px) and (max-width: 1299px) {
    grid-template-columns: var(--grid-columns-small-diagram);
    @include slimmer-version-of-the-tile;
  }
  @media (min-width: 1300px) {
    grid-template-columns: var(--grid-columns-large-diagram);
  }
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'summary summary'
    'text    tech-stack';
  grid-column-gap: 20px;

  .organisms__experience-tile__summary {
    grid-area: summary;
    text-align: center;
  }

  .organisms__experience-tile__text {
    grid-area: text;
  }
  .organisms__experience-tile__tech-stack {
    grid-area: tech-stack;
  }

  .organisms__experience-tile__statistics {
    margin-top: 16px;
  }
}

#printer-friendly-version:target .organisms__experience-tile {
  grid-template-columns: 1fr auto;
  @include slimmer-version-of-the-tile;
  .organisms__experience-tile__summary-header {
    margin-top: 0;
  }
}
