<div class='organisms__experience'>
  <p>{{intro}}</p>
  <div class='atoms__grid organisms__experience__experiences'>
    <div class='organisms__experience__summary-tile atoms__card'>
      <h3>Overview</h3>
      <p>{{disclaimer}}</p>
      {{> organisms/experience-summary experience-summary }}
    </div>
    {{#each items }}
      {{> organisms/experience-tile this }}
    {{/each}}
    {{> organisms/hobby-experience hobby-experience }}
    {{> organisms/education education }}
  </div>
</div>
