<section class='organisms__experience-section'>
  <h2>Experience & Education</h2>
  {{#each experiences}}
  <article>
    <h3>{{this.role}} <span class='organisms__experience-section__date-range'>{{this.from}} &mdash; {{this.to}}</span></h3>
    <h4>{{this.employer}}</h4>
    <div class='molecules__row'>
      {{> molecules/experience-detail title='Engineering' bullets=this.engineering }}
      {{> molecules/experience-detail title='Technology' bullets=this.technology }}
      {{> molecules/experience-detail title='Teamwork' bullets=this.teamwork }}
    </div>
  </article>
  {{/each}}
</section>
