.organisms__experience {
  margin: 8px;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  padding: 8px;
  background-color: var(--color-accent);
  animation: pop-out 0.4s ease-out 2.2s both;

  --icon-width: 1.2em;
  --icon-height: 1.2em;
  --icon-color-primary: var(--color-secondary);
  --icon-color-secondary: var(--color-secondary);
  --icon-color-tertiary: transparent;

  .organisms__experience__row {
    display: flex;
    flex-direction: row;
    justify-content: flex;

    & > * {
      flex: 1;
    }
  }
}
