<div class='organisms__experience'>
  <h2 class='organisms__experience__section-header'>{{{title}}}</h2>
  {{#each summary}}
    <p class='organisms__experience__section-summary-item'>{{{this}}}</p>
  {{/each}}
  <div class='atoms__grid organisms__experience__experiences'>
    {{#each items }}
      {{> organisms/experience-tile this }}
    {{/each}}
    {{> organisms/hobby-experience hobby-experience }}
    {{> organisms/education education }}
  </div>
</div>
