.organisms__hobby-experience {
  --atoms--card--color: var(--color-accent);

  .organisms__hobby-experience__column {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-grap: 20px;
  }
}
