<div class='organisms__introduction'>
  <div class='organisms__introduction__title-area'>
    <h2 class='organisms__introduction__title'>{{{title}}}</h2>
    <p class='organisms__introduction__subtitle'> &mdash; {{{subtitle}}}</p>
  </div>
  <div class='atoms__grid organisms__introduction__tiles'>
  {{#each tiles }}
    {{> organisms/introduction-tile this}}
  {{/each}}
  </div>
</div>
