@import '../animations';

.organisms__introduction {
  .organisms__introduction__title-area {
    border-bottom: 2px solid var(--color-primary);
    display: none;
    .organisms__introduction__title {
      font-size: 1.5em;
    }
  }
  margin-top: 32px;
  flex-basis: 0;
  flex-grow: 1;
  --casual-disclaimer-delay: 0.5s;
  --after-casual-disclaimer-delay: 1s;

  .organisms__introduction__casual-disclaimer {
    text-align: center;
    margin-bottom: 36px;
    @include lesser-fade-in(1s, var(--casual-disclaimer-delay));

    .printer-friendly-version:target & {
      display: none;
    }
  }

  .organisms__introduction__tiles {
    margin-left: 16px;
    --atoms--grid-columns: 3;
    & > *:nth-of-type(1) {
      --animation-delay: calc(var(--animation-delay-1) + var(--after-casual-disclaimer-delay));
    }
 
    & > *:nth-of-type(2) {
      --animation-delay: calc(var(--animation-delay-2) + var(--after-casual-disclaimer-delay));
    }

    & > *:nth-of-type(3) {
      --animation-delay: calc(var(--animation-delay-3) + var(--after-casual-disclaimer-delay));
    }
  }
}

.printer-friendly-version:target .organisms__introduction {
  margin-top: 0;
  .organisms__introduction__title-area {
    display: block;
    .organisms__introduction__title,
    .organisms__introduction__subtitle {
      display: inline-block;
      margin: 0;
    }
  }

  .organisms__introduction__tiles {
    --atoms--grid-columns: 1;
    
    .organisms__introduction-tile:first-child {
      border: none;
    }
  }
}
