.organisms__introduction-tile {
  .organisms__introduction-tile__header {
    margin-top: 0;
  }
  .organisms__introduction-tile__section {
    position: relative;
    padding-left: 0;

    .organisms__introduction-tile__label {
      position: absolute;
      left: -0.25em;
      top: 0;
      padding-right: 0.5em;
      color: var(--color-secondary);
      transform: rotate(270deg) translateX(-100%);
      transform-origin: left top 0;
    }
  }
}

.printer-friendly-version:not(:target) .organisms__introduction-tile {
  .organisms__introduction-tile__section {
    margin-bottom: 32px;
    min-height: 64px;
  }
}
