<div class='organisms__introduction-tile atoms__card atoms__card--disable-for-print'>
  <div class='organisms__introduction-tile__section organisms__introduction-tile__section--no-left-pad'>
    <h3 class='organisms__introduction-tile__header'>{{{motivation.title}}}</h3>
    <span>{{{motivation.details}}}</span>
  </div>
  {{#if values}}
  <div class='organisms__introduction-tile__section'>
    <span class='organisms__introduction-tile__label'>Values</span>
    <ul>
    {{#each values}}
      {{>molecules/bullet bullet=this}}
    {{/each}}
    </ul>
  </div>
  {{/if}}
  {{#if strengths}}
  <div class='organisms__introduction-tile__section'>
    <span class='organisms__introduction-tile__label'>Strengths</span>
    <ul>
    {{#each strengths}}
      {{>molecules/bullet bullet=this}}
    {{/each}}
    </ul>
  </div>
  {{/if}}
</div>
