<div class='organisms__past-present-future'>
  <section>
    <h3>Past</h3>
    <a href="/past/work-history">Work History</a>
  </section>

  <section>
    <h3>Present</h3>
    <a href="/present/approach">How I Work</a>
  </section>

  <section>
    <h3>Future</h3>
  </section>
</div>
