.organisms__past-present-future {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;

  section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    h3 {
      background-color: var(--color-accent);
      margin-left: -4px;
      padding-left: 4px;
      margin-top: -4px;
      padding-top: 4px;
    }
  }
}
