<div class='organisms__print-header'>
  <h1 class='organisms__print-header__h1'>{{name}}</h1>
  <hr class='organisms__print-header__hr' />
  <div class='organisms__print-header__details'>
    <div class='organisms__print-header__location'>{{location}}</div>
    <div class='organisms__print-header__contact'>
      <div>{{email}}</div>
      <div>{{website}}</div>
    </div>
  </div>
</div>
