<div class='organisms__titled-list'>
  <div class='organisms__titled-list__body'>
    <div class='organisms__titled-list__text'>
      <img class='organisms__titled-list__icon organisms__titled-list__icon--{{data.icon-size}}' src='/assets/{{data.icon}}' alt='{{data.title}}'/>
      <h2>{{data.title}}</h2>
      <ul>
      {{#each data.items}}
        {{> molecules/bullet bullet=this }}
      {{/each}}
      </ul>
    </div>
    <div class='organisms__titled-list__links'>
      {{#each data.links}}
        {{> molecules/icon-link data=this }}
      {{/each}}
    </div>
  </div>
</div>
