<div class='organisms__web-header'>
  {{> atoms/profile-picture class='profile-picture'}} 
  <h1>
    <span class='name'>{{name}}</span>
    <span class='divider'>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
    <span class='title'>{{title}}</span>
  </h1>
  <h2 class='atoms__tagline'>{{{tagline}}}</h2>
</div>
