<div class='organisms__web-header'>
  {{> atoms/profile-picture class='profile-picture'}} 
  {{> molecules/name-and-title title=title name=name }}
  <h2 class='atoms__tagline'>{{{tagline}}}</h2>
</div>
